# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caches
.eslintcache
.stylelintcache

# Dependências
node_modules/
jspm_packages/

# Build e saída de compilação
dist/
dist-ssr/
*.local
out/

# IDEs e editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local

# Vite
.vite/
